* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
    align-items: center;
}

.logo a img {
    height: 60px;
    width: 60px;
}

.navbar a {/*Botones*/
    display: block;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;/* especifica el cambio entre mayúsculas y minúsculas del texto de un elemento.*/
    font-size: 15px;
    border: 3px #CA6F1E solid;
    border-radius: 20px;
}

.navbar a:hover {/*Transicion color para botones*/
    background: #154360;/*color fondo "azul"*/
    color: #CA6F1E;/*color letra "naranja"*/
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;/*Para cuadrar toda la pantalla del div.*/
    height: 90vh;
    background: url(img/fondoInicio3.jpg) no-repeat center;
    background-size: cover;
}

.subtitulo {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    color: #CA6F1E;
}

.titulo {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #CA6F1E;
}

p {
    margin-bottom: 40px;
    font-size: 25px;
    color: #fff;
    padding: 0 150px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 13em/3em;
    border: 2px solid #CA6F1E;
    color: #fff;
    text-decoration: none;
    background: #CA6F1E;
}

.btn:hover {
    background: none;
}

.content {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrera {
    padding: 50px 0;
    background: #303030;
}

.box-container {
    display: flex;/*Necesario para que las cajas queden una alado de la otra*/
    justify-content: center;
    flex-wrap: wrap;/*Tambien necesario*/
}

.box-container .box {
    height: 400px;
    width: 350px;
    background: #154360;/*color fondo azul caja de carrera*/
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box:hover {/*cada recuadro de carrera se levanta y sombrea mas*/
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    transform: translateY(-3%);
}

.box-container .box img {/*Para modificar IMG de las carreras dentro de las cajas*/
    height: 75%;
    width: 90%;
    border-radius: 80px 20px;
    margin-top: 5%;
}

.box-container .box h3 {/*Texto h3 de la carreras dentro de las cajas*/
    font-size: 20px;
    color: #CA6F1E;
}

.box-container .box p {/*Texto p de la carreras dentro de las cajas*/
    padding: 0 15px;
    font-size: 16px;
}

.alumnos {
    background: url(img/bandera.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.profes {
    background: url(img/profes.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;/*Efecto foto fija en el fondo*/
    text-align: center;
}

.about {
    background: #303030;
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 350px;
    padding-bottom: 30px;
    border-radius: 60px/20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #154360;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #CA6F1E;
}

.box .video {
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #CA6F1E;
    padding-top: 10px;
}

.box-container2 .box p {
    margin-top: 5%;
    font-size: 18px;
    color: #fff;
    padding: 0;
}

.footer {
    padding: 5px 0;
    background: black;
    color: white;
    align-content: center;
    justify-content: center;
}


.footer-section{
    display: flex;
    align-items: center;
}

#social-network {
  display: flex;
  width: 300px;
  margin: top 1em; 
  align-items: center;
}



    /*CONTACTO*/

.contacto {
    width: 100%;
    height: 800px;
    background-color: #17202A;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    color: #CA6F1E;
    align-items: center;    
}

.cont1 {
    width: 50%;
    height: 90%;
}

form {
    margin: 40px;
}

form label , form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    background-color: #fff;
}

.input-padron {
    border: 2px #CA6F1E solid;
}

.input-padron:hover {
    border: 3px #CA6F1E solid ;
}

.enviar {
    margin-top: 2%;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #CA6F1E;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #154360;
    transform: scale(1.1);
}

.cont2 {
    width: 48%;
    height: 80%;
    border: none;
    background: url(img/bandera.jpg);
    background-size: cover;
}
.cont2 img {/*Imagen contacto*/
    width: 35%;
    height: 35%;
    position: relative;
    border-radius: 13em/3em;
    animation-name: muevete ; /*Asignamos el nombre*/
    animation-duration:8s ; /*Indica la duracion total en segundos*/
    animation-iteration-count: infinite;/*La cantidad de veces q se repita(1,2,3) o infinite*/
    animation-direction: alternate;/*Para evitar el corte en la animacion */
}

@keyframes muevete{/*@keyframes:para iniciar animacion ejemplo:nombre de variable (poner -webkit- entre @ y keyframes si el navegador no lo soporta) */
    0% {background: #aaa;left:0;top:0px; }
    25% {background: red;left:425px;top:0px; }
    50% {background: green;left:425px;top:416px; }
    75% {background: pink;left:0 ;top:416px; }
    100% {background: blue;left:0;top:0px; }
}

